<div class="text-center mb-4">

  <div id="visuals">
    <div class="visual">
      <!-- Ripple -->
      <svg viewBox="0 0 320 320">
        <defs>
          <circle id="circle-clip" cx="50%" cy="50%" r="25%" />
          <clipPath id="avatar-clip">
            <use href="#circle-clip" />
          </clipPath>
        </defs>
  
        <circle cx="50%" cy="50%" r="25%" fill="#1a237e" fill-opacity="1">
          <animate attributeName="r" values="25%;50%" dur="4s" repeatCount="indefinite" />
          <animate attributeName="fill-opacity" values="1;0" dur="4s" repeatCount="indefinite" />
        </circle>
  
        <circle cx="50%" cy="50%" r="25%" fill="#757ae9" fill-opacity="1">
          <animate attributeName="r" values="25%;50%" dur="4s" begin="1s" repeatCount="indefinite" />
          <animate attributeName="fill-opacity" values="1;0" dur="4s" begin="1s" repeatCount="indefinite" />
        </circle>
  
        <circle cx="50%" cy="50%" r="25%" fill="#1a237e" fill-opacity="1">
          <animate attributeName="r" values="25%;50%" dur="4s" begin="2s" repeatCount="indefinite" />
          <animate attributeName="fill-opacity" values="1;0" dur="4s" begin="2s" repeatCount="indefinite" />
        </circle>
  
        <circle cx="50%" cy="50%" r="25%" fill="#757ae9" fill-opacity="1">
          <animate attributeName="r" values="25%;50%" dur="4s" begin="3s" repeatCount="indefinite" />
          <animate attributeName="fill-opacity" values="1;0" dur="4s" begin="3s" repeatCount="indefinite" />
        </circle>
  
        <image height="50%" width="50%" x="25%" y="25%" href="https://media.licdn.com/dms/image/v2/C4D03AQHIrlwadxKYyQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1638912060297?e=1747267200&v=beta&t=LNJ_DGZUdJK3vPyk5hNH_HqicypI52zaK6cMsfzXdfU" clip-path="url(#avatar-clip)" />  
      </svg>
    </div>
    

  <!-- <img  style="--c:#255b98;--cb:#f3bf99" src="/assets/images/profil.jpeg" class="rounded-circle profile-pic" alt="Profile Picture">
   -->

</div>

<div class="nav flex-column nav-pills">
  <a class="nav-link" 
     *ngFor="let item of menuItems; let i = index"
     [routerLink]="[item.route]" 
     [@menuItemAnimation]
     [@activeHighlight]="getActiveState(item.route)"
     [style.animation-delay]="i * 100 + 'ms'">
    <i class="{{item.icon}}"></i> {{item.title}}
  </a>
</div>
<div class="social-links mt-4 text-center">
  <a *ngFor="let link of socialLinks; let i = index"
     [href]="link.url" 
     class="mx-2" 
     target="_blank"
     [title]="link.title"
     [@socialLinkAnimation]
     [style.animation-delay]="i * 100 + 500 + 'ms'">
    <i class="{{link.icon}}"></i>
  </a>
</div>
